<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Groups</title>

		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/layout.css" />
		<link rel="stylesheet" href="../css/states.css" />
		<link rel="stylesheet" href="../css/module/btn.css" />
		<link rel="stylesheet" href="../css/module/nav.css" />
		<link rel="stylesheet" href="../css/module/ico.css" />
		<link rel="stylesheet" href="../css/module/form.css" />
		<link rel="stylesheet" href="../css/module/group.css" />
	</head>

	<body>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=169297233197256";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

		<div class="container group">
			<div class="content">
				<h2>Groups</h2>

				<div class="group-listing group">
					<img src="http://lorempixel.com/122/122" alt="" class="group-avatar" />

					<div class="group-listing-info">
						<h3><a href="#">We Roll Extrém Sportegyesület</a></h3>
						<p>We Roll E SE telekocsi közössége...</p>
					</div>

					<div class="group-listing-actions">
						<a href="#" class="btn btn-small btn-action">Ismerős meghívása</a> <a href="#" class="ico ico-19 ico-close"></a>
					</div>
				</div> <!-- .group-listing -->

				<div class="group-listing group">
					<img src="http://lorempixel.com/122/122" alt="" class="group-avatar" />

					<div class="group-listing-info">
						<h3><a href="#">We Roll Extrém Sportegyesület</a></h3>
						<p>We Roll E SE telekocsi közössége...</p>
					</div>

					<div class="group-listing-actions">
						<a href="#" class="btn btn-small btn-action">Ismerős meghívása</a> <a href="#" class="ico ico-19 ico-close"></a>
					</div>
				</div> <!-- .group-listing -->

				<div class="group-listing group">
					<img src="http://lorempixel.com/122/122" alt="" class="group-avatar" />

					<div class="group-listing-info">
						<h3><a href="#">We Roll Extrém Sportegyesület</a></h3>
						<p>We Roll E SE telekocsi közössége...</p>
					</div>

					<div class="group-listing-actions">
						<a href="#" class="btn btn-small btn-action">Ismerős meghívása</a> <a href="#" class="ico ico-19 ico-close"></a>
					</div>
				</div> <!-- .group-listing -->

				<h2>Group profile</h2>

				<div class="group-profile">
					<img src="http://lorempixel.com/995/270" alt="" class="group-cover-photo" />

					<div class="group-profile-data group">
						<img src="http://lorempixel.com/132/132" alt="" class="group-avatar left" />

						<div class="group-profile-meta">
							<div class="group-profile-name group">
								<h3 class="left">We Roll csoport</h3>

								<a href="#" class="btn btn-small btn-action left"><i class="ico ico-19 ico-add"></i> Csatlakozom</a>
							</div>

							<div class="form-inline group">
								<label for="place">Helyszín:</label>
								<select name="place" id="place">
									<option value="multiple">lehet több is</option>
								</select>

								<span class="sep-vert-faded">Időpont: 2012. 07. 30</span>
							</div>

							<p class="group-profile-description">Vestibulum eros elit, tincidunt vel eleifend vel, convallis quis dolor. Donec egestas lorem ut felis
viverra sit amet hendrerit quam dignissim...</p>
						</div> <!-- .group-profile-meta -->

						<div class="group-profile-social">
							<strong>Osszd meg ismerőseiddel!</strong>

							<div class="fb-like" data-send="false" data-layout="button_count" data-width="245" data-show-faces="false"></div>
							<a href="#" class="btn btn-small btn-action"><i class="ico ico-19 ico-fb"></i> Üzenőfalra</a>
							<a href="#" class="btn btn-small btn-action"><i class="ico ico-19 ico-fb"></i> Meghívó küldés</a>
						</div> <!-- .group-profile-social -->
						
					</div>
				</div> <!-- .group-profile -->

				<div class="group-profile">
					<img src="http://lorempixel.com/995/270" alt="" class="group-cover-photo" />

					<div class="group-profile-data group">
						<img src="http://lorempixel.com/132/132" alt="" class="group-avatar left" />

						<div class="group-profile-meta">
							<div class="group-profile-name group">
								<h3 class="left">We Roll csoport</h3>

								<a href="#" class="btn btn-small btn-action is-disabled left">Csatlakozva</a>
							</div>

							<div class="form-inline group">
								<span>Helyszín: Budapest</span>
								
								<span class="sep-vert-faded">Időpont: 2012. 07. 30</span>
							</div>

							<p class="group-profile-description">Vestibulum eros elit, tincidunt vel eleifend vel, convallis quis dolor. Donec egestas lorem ut felis
viverra sit amet hendrerit quam dignissim...</p>
						</div> <!-- .group-profile-meta -->

						<div class="group-profile-social">
							<img src="http://lorempixel.com/191/132" alt="" class="group-avatar" />
						</div> <!-- .group-profile-social -->

					</div>
				</div> <!-- .group-profile -->

				<br />
				<br />
				<br />
			</div> <!-- .content -->
		</div> <!-- .container -->
	</body>
</html>