<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Page</title>

		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/layout.css" />
		<link rel="stylesheet" href="../css/states.css" />
		<link rel="stylesheet" href="../css/module/page.css" />
	</head>
	
	<body>
		<div class="header">
			<div class="container group">
				<img src="http://lorempixel.com/60/26" alt="" />
			</div>		
		</div>

		<div class="container group">
			<div class="content">
			</div> <!-- .content -->
		</div> <!-- .container -->
	</body>
</html>