<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Widget</title>

		<link rel="stylesheet" href="../css/base.css" />
		<link rel="stylesheet" href="../css/layout.css" />
		<link rel="stylesheet" href="../css/states.css" />
		<link rel="stylesheet" href="../css/module/ico.css" />
		<link rel="stylesheet" href="../css/module/btn.css" />
		<link rel="stylesheet" href="../css/module/nav.css" />
		<link rel="stylesheet" href="../css/module/widget.css" />
		<link rel="stylesheet" href="../css/module/profile.css" />
	</head>

	<body>
		<div class="l-two-columns-left profile-public container group">
			<div class="content">

				<div class="widget">
					<div class="widget-title">
						<strong class="left">Magamról</strong>
						<span class="right">2012 óta Zivizek</span>
					</div>

					<div class="widget-body">
						<p class="profile-introduction">Művészettörténetet tanulok Budapesten, minden hétvégén hazamagyek a szüleimhez Kaposvárra.<br />
						Szeretek új embereket megismerni, jókat beszélgetni a Zivis utazások alatt.</p>

						<p class="profile-basic">
							<strong>Alapadatok:</strong> Nő, Életkor: 20-25</strong>
						</p>

						<ul class="profile-optional">
							<li><strong>Iskola:</strong> ELTE</li>
							<li><strong>Munkahely:</strong> Telenor Hungary</li>
							<li><strong>Csoportok:</strong> <a href="#">ELTE</a>, <a href="#">KVSZ</a></li>
							<li><strong>Beszélt nyelvek:</strong> magyar, angol, német</li>
						</ul>
					</div>
				</div> <!-- .widget -->

				<div class="widget">
					<div class="widget-title">
						<img src="../images/icons/facebook.png" alt="Facebook" class="profile-fb-icon" />
						<strong>10 közös Facebook ismerősötök van:</strong>
					</div>

					<div class="widget-body">
						<img src="http://lorempixel.com/30/30" alt="" />
						<img src="http://lorempixel.com/30/30" alt="" />
						<img src="http://lorempixel.com/30/30" alt="" />
						<img src="http://lorempixel.com/30/30" alt="" />
						<img src="http://lorempixel.com/30/30" alt="" />
						<img src="http://lorempixel.com/30/30" alt="" />
						<img src="http://lorempixel.com/30/30" alt="" />
						<img src="http://lorempixel.com/30/30" alt="" />
						<img src="http://lorempixel.com/30/30" alt="" />
						<img src="http://lorempixel.com/30/30" alt="" />
					</div>
				</div> <!-- .widget -->

				<div class="l-split group">
					<div class="half">
						<div class="widget">
							<div class="widget-title">
								<img src="../images/icons/facebook.png" alt="Facebook" class="profile-fb-icon" />
								<strong>10 közös Facebook ismerősötök van:</strong>
							</div>

							<div class="widget-body">
								<img src="http://lorempixel.com/30/30" alt="" />
								<img src="http://lorempixel.com/30/30" alt="" />
								<img src="http://lorempixel.com/30/30" alt="" />
								<img src="http://lorempixel.com/30/30" alt="" />
								<img src="http://lorempixel.com/30/30" alt="" />
								<img src="http://lorempixel.com/30/30" alt="" />
								<img src="http://lorempixel.com/30/30" alt="" />
								<img src="http://lorempixel.com/30/30" alt="" />
								<img src="http://lorempixel.com/30/30" alt="" />
								<img src="http://lorempixel.com/30/30" alt="" />
							</div>
						</div> <!-- .widget -->
					</div>
					
					<div class="half right">
						<div class="widget">
							<div class="widget-title">
								<strong>10 közös csoportotok van:</strong>
							</div>

							<div class="widget-body">
								<img src="http://lorempixel.com/30/30" alt="" />
								<img src="http://lorempixel.com/30/30" alt="" />
								<img src="http://lorempixel.com/30/30" alt="" />
								<img src="http://lorempixel.com/30/30" alt="" />
								<img src="http://lorempixel.com/30/30" alt="" />
								<img src="http://lorempixel.com/30/30" alt="" />
								<img src="http://lorempixel.com/30/30" alt="" />
								<img src="http://lorempixel.com/30/30" alt="" />
								<img src="http://lorempixel.com/30/30" alt="" />
								<img src="http://lorempixel.com/30/30" alt="" />
							</div>
						</div> <!-- .widget -->
					</div> 
				</div> <!-- .l-split -->

				<div class="widget">
					<div class="widget-title">
						<strong class="left">Értékelések autósoktól:</strong>
						<span class="right">23</span>
					</div>
				</div>
			</div> <!-- .content -->

			<div class="sidebar">
				<div class="widget profile-public-verifications">
					<div class="widget-title">
						<strong>Verifikációk</strong>
					</div>

					<div class="widget-body">
						<ul>
							<li>
								<i class="ico ico-22 ico-fb left"></i>
								<p>
									Kapcsolódva<br />
									<span>356 ismerős</span>
								</p>
								<i class="ico ico-tick"></i>
							</li>

							<li>
								<i class="ico ico-22 ico-mobile left"></i>
								<p>
									Ellenőrzött mobil<br />
									<span>+36&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;</span>
								</p>
								<i class="ico ico-tick"></i>
							</li>

							<li>
								<i class="ico ico-22 ico-thumb-up left"></i>
								<p>
									Pozitív értékelés<br />
									<span>23 db</span>
								</p>
								<i class="ico ico-tick"></i>
							</li>
						</ul>
					</div>
				</div> <!-- .widget -->
			</div> <!-- .sidebar -->
		</div>
	</body>
</html>